#todo-error{
  color: red;
  font-size: 2em;
}

.todos-form {
  position: fixed;
     bottom: 10px;
     right: 10px;
}

.bg-quote {
  background-color: rgba(0,0,0,0.6);
  border-radius: 15px;
  padding: 5px;
}

.weather-form {
  position: fixed;
  bottom: 10px;
  left: 30px;
}

.bg-weather {
  background-color: rgba(0,0,0,0.6);
  border-radius: 10px;
  padding: 5px;
}